<div class="container">
  <h1>
    {{title}}
  </h1>
  <form>
    <p>Address :
      <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" style="width: 500px;">
      <button type="button" (click)="searchMore()">Search</button>
    </p>

    <p *ngFor="let data of addresses">
      {{data}}
    </p>
    <br> <br>

  </form>


  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]='zoom'>
    <sebm-google-map-marker 
      *ngFor="let mark of markers; let i = index" 
      [latitude]="mark.lat" [longitude]="mark.lng">
      <sebm-google-map-info-window [disableAutoPan]="true">
        <strong>{{mark.detail}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>



</div>

