<div class="container">
  <h1>
    {{title}}
  </h1>
  <form>
    <p>Address :
      <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
      <button type="button" (click)="search()">Search</button>
    </p>
    {{address}}
    <br> <br>
    <!--<p>
      <u>Optional</u>
      
    </p>
    <p>
      Location :
      <input type="text" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
    </p>
    {{location}}
    <p>

    </p>-->
    

  </form>


  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]='zoom'>
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
      <sebm-google-map-info-window [disableAutoPan]="true">
        <strong>{{detail}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>



</div>

